<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Is MSN dead yet?</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<style>
h1 {
    font-size: 20vmin;
    font-weight: bold;
}
h2 {
    font-size: 3vmin;
}
h3 {
    font-size: 2vmin;
}
.fineprint {
    font-size: 0.8em;
    font-style: italic;
    color: #888;
}
.space5vh {height: 5vh;}
.space10vh {height: 10vh;}
.space20vh {height: 20vh;}
.space30vh {height: 30vh;}

.good {
    color: lime;
}
.bad {
    color: red;
}
.good, .bad {
    font-weight: bold;
    font-family: 'arial black', 'impact', sans-serif;
    padding: 0px !important;
}
.sneaky {
    color: #333;
}
.sneaky:hover {
    color: #338;
    cursor: text;
}

.table-status td {
    padding: 0px !important;

}
</style>

</head>

<body>

    <a href="https://github.com/dequis/ismsndeadyet.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

<div class="text-center">
    <h2>Is MSN dead yet?</h2>
    <p class="fineprint">
        (And by MSN I mean <a href="http://en.wikipedia.org/wiki/Microsoft_Messenger_service">microsoft's messenger service</a>, <br />
        previously known as MSN Messenger or Windows Live Messenger)<br />
        (<a href="http://msn.com">msn.com</a> is unrelated and not going to die, please don't sue me Microsoft, I love you &hearts;)<br />
        (Not affiliated with microsoft in any way)
    </p>
    <h1 id="nope">NO</h1>
    <h2 id="maybe">Well maybe just a bit</h2>
    <div class="space5vh"></div>
</div>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Current situation</h3>
        <p>It's not dead, but it can only be accessed decently with http method. So just enable that</p>
        <p>More precisely: the default connection address, <code>messenger.hotmail.com</code> redirects to 6 servers, which are in charge of redirecting to the rest.</p>
        <p>Those 6 servers either have closed the MSNP port (and gone HTTP only), or do internal redirections to servers that don't work</p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Breaking news</h3>
        <p><b>2014-12-04</b>: <code>bn1.*</code> servers closed port 1863 too. IT'S HAPPENING. Switch to http method today or join us in the fun with internal servers.</p>
        <p><b>2014-12-01</b>: <code>bay.*</code> servers closed port 1863, but HTTP(S) connections to them still work.</p>
        <p><b>2014-11-13</b>: ApplicationID for windows live messenger 2008 and 2009 blocked.
            <a href="http://messengergeek.wordpress.com/2014/11/12/most-third-party-messenger-clients-have-gone-offline-temporarily/">
                Messengergeek blog post
            </a>
        </p>
        <p>See also:</p>
        <ul class="text-left">
            <li><a href="http://messengergeek.wordpress.com/messenger-status/">Messengergeek's detailed status page</a></li>
            <li><a href="https://status.live.com/detail/msgr">Official status page</a> which seems to ignore the current issues</a></li>
            <li><a href="http://wiki.dequis.org/projects/msn/protocol_versions/">dx's protocol versions page</a>, status and descriptions</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">What clients work</h3>
        <p class="fineprint text-center">(MSNP## denotes the protocol version number)</p>
        <p>
        <ul>
            <li><a href="http://pidgin.im/">Pidgin</a> (MSNP18) and derivatives using libpurple 2.10.11. See also "Some contacts are offline" below</li>
            <li><a href="http://messengergeek.wordpress.com/2014/11/17/adium-messenger-reviver/">Adium patched with adium messenger reviver</a></li>
            <li><a href="http://bitlbee.org/">BitlBee</a> (MSNP18), dev versions &gt;1064. <a href="http://wiki.bitlbee.org/HowtoMsn">Read more</a>. Does not support http method, unless libpurple is installed</li>
            <li><a href="http://www.trillian.im/">Trillian</a>, latest beta build</li>
        </ul>
        <p>Official clients:</p>
        <ul>
            <li>
                Windows Live Messenger 2008-2012 (MSNP15-MSNP21)
                <a href="http://messengergeek.wordpress.com/2013/04/23/use-messenger-reviver-2-to-bring-back-messenger-and-beat-skype/">
                    patched with messenger reviver
                </a>
            </li>
            <li>Skype and <a href="http://outlook.com">outlook.com</a> (MSNP24), but you probably don't care about those</li>
            <li>Windows messenger 4.7 (MSNP8) from windows XP still works. <a href="http://dump.dequis.org/SR_XG.png">Seriously</a></li>
        </ul>
    </div>
</div>

<div class="text-center">
    <h2>Needlessly detailed server status</h2>
</div>
<p>The first two rows of each column are the servers that usually redirect to the rest</p>
<p>:80, :443, :1863 indicate pings to ports, respectively: HTTP, HTTPS, MSNP. First two are what you'd use with HTTP method (usually just HTTP, not HTTPS), last one is the normal MSN protocol</p>
<p>VER tries to establish a connection to port 1863 and send <code>VER 1 MSNP18</code> to test if the server still supports that version (the most common one among third party clients). Also helps check for false positives</p>

<div class="row">
    {% for name, servers in regions %}
    <div class="col-md-4 text-center">
        <p>{{code}}</p>
        <table class="table table-striped table-hover table-condensed table-status">
        <tr>
            <td>IP</td>
            <td>:80</td>
            <td>:443</td>
            <td>:1863</td>
            <td>VER</td>
        </tr>
        {% for ip, ports, ver_result in servers %}
        <tr>
            <td><code>{{ip}}</code></td>
            {% for port in ports %}
                {% if port %}
                <td class="good">✔</td>
                {% else %}
                <td class="bad">✘</td>
                {% endif %}
            {% endfor %}

            {% if ver_result %}
            <td class="good">✔</td>
            {% else %}
            <td class="bad">✘</td>
            {% endif %}
        </tr>
        {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>

<div class="container">
    <h2 class="text-center">FAQ</h2>
    <h3>What about all the news saying it's gone?</h3>
    <p>That's partly because nobody does fact checking and partly because the criteria of "dead" here is more oriented to third party clients</p>
    <p>It was supposed to die in march 2013. The only thing that changed was a forced upgrade of the official clients to skype. Before mid-november 2014 the only issue was that offline messages and mail notifications didn't work.</p>
    <p>Right now it <em>seems</em> like it might be dying, so I made this to track the progress of its death.</p>
    <h3>Getting connection refused</h3>
    <p>Try switching to http method, or add a line to your <a href="http://en.wikipedia.org/wiki/Hosts_%28file%29">hosts file</a> assigning <code>messenger.hotmail.com</code> one of the working IPs taken from above, for example:</p>
    <pre>134.170.24.231 messenger.hotmail.com</pre>
    <h3>Some contacts are offline</h3>
    <p>Might be a pidgin bug that sneaked in the last release. Try removing that contact and adding it again</p>
    <p>If everything fails, <a href="http://outlook.com">outlook.com</a> has a webchat (using MSNP24!), any msn login will work</p>
    <h3>Why care about MSN?</h3>
    <p>A few reasons:</p>
    <ul>
        <li>It's a decent bridge to the skype network</li>
        <li>Works in clients that aren't skype</li>
        <li><a href="http://store.steampowered.com/app/253030/" class="sneaky">I like the idea of delaying the inevitable by catching energy boosts which reverse the setting sun - if only for a moment</a></li>
        <li>Fun things are fun</li>
    </ul>
    <h3>What does the future hold?</h3>
    <p>This is speculation, but based on the current trends, it will keep breaking slowly, based on what microsoft doesn't need to keep alive anymore</p>
    <p>The HTTP(S) method (port 443 in the status table above) is likely to stay up. These servers are still used by skype, although with a newer protocol.</p>
    <p>The messaging client included in windows 8.0 (which they probably still need to support) uses a MSNP22 - a protocol version older than skype's, newer than most other third party clients, but using the same connection method as the older ones, through HTTPS</p>
    <p><a href="http://messengergeek.wordpress.com/2014/09/11/when-is-messenger-really-shutting-down/">See also this messengergeek post</a></p>
</div>

</div>

<div class="space10vh"></div>

<div class="text-center">
    <p>Not affiliated to Microsoft Corporation in any way. Microsoft, MSN, and Windows are either registered trademarks or trademarks of Microsoft Corporation in the United States and/or other countries</p>
</div>

<script>
(function() {
    var maybe = document.getElementById("maybe");
    var labels = [
        "Well maybe just a bit",
        "Doesn't look too bad here",
        "Ticket resolved as WORKSFORME",
        "Just apply a patch or two and it will work",
        "It might ask you to feed it brains, but that's normal",
        "It's not dead, it's resting.",
        "It's not dead, it's stunned.",
        "It's not dead, it's pining for the fjords.",
        "Nostalgia awaits!",
    ];
    maybe.innerHTML = labels[Math.floor(Math.random() * labels.length)];
})();
</script>
</body>
</html>
